.header {
    width:100%;
    height:50px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.header .head-mid {
    width:90%;
    padding-left:65px;
    text-align: center;
    font-size: 17px;
}
.head-mid strong a {
    text-decoration: none;
    color:black;
}
.cart-logo-link {
     position: absolute;
     right:15px;
}
.header .cart-logo {
    width:30px;
    height:30px;   
}
.nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav-bar ul {
    display:inline-block;
    list-style-type:none;
}
.nav-bar li {
    float:left;
    margin-left:20px;
}
.nav-bar a {
    text-decoration: none;
    color:black;
}
.body-content .link-deco {
    border:2px solid black;
    width:100px;
    height: 20px;
    padding:8px 25px;
    text-align: center; 
    text-decoration: none;
    color:black; 
}
 .img-home{
    width: 100%;
     height: 320px;
     object-fit: cover;
}
.shop {
    width:100%;
   display:flex;
   justify-content: center;
   margin:20px 0px 40px 0px;
}
.body-content {
    display: flex;
    flex-wrap: wrap;
 }
 .body-content .tshirt {
    width:50%;
  }
.footer {
      bottom: 0px;
 }
.footer-link a {
    text-decoration: none;
    color:gray;
 } 
 .fo-bottom {
     width:100%;
     display:flex;
     justify-content: center;
     bottom:0px;
  }
.footer-div {
     border:1px solid black;
     padding:4px;
     background-color:black;
     color:white;
     margin-bottom: -8px;
   }
.item-price {
       color:gray;
   }
.all-shirts {
      width: 33%;
      text-decoration: none;
      color:black; 
   } 
.all-shirts img {
    margin-left: 42px;
}
.img-product {
    width:75%;
    height:24vw;
}
.lable {
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
}
.lable-sh {
    font-size: 16px;
    font-weight: normal;
}
.body-product-desc {
    margin-top: 80px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
.buy-img {
    width:50%;
    height:45vw;
 }
 .buy-shirts-desc {
    width:30%;
    height:550px;
   }
 .buy-sh-name {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
   }
.shirts-desc {
     color:gray;
     font-size: 14px;
    }
.shirts-desc-over {
     margin-left: 25px;
     }
.add-cart {
     margin-top:30px;
     width:150px;
     height:25px;
     border:2px solid black;
     padding:8px 0px 0px 30px;
    }
 .add-cart-link {
    text-decoration: none;
    color:black;
    }
.size {
        font-size: 17px;
        width: 100%;
        height: 50px;
        border-left: none;
        border-right: none;
        text-indent: 70px;
        background-color: white; 
      }
.size:focus {
        border-bottom: 2px solid black;
        transition: transform 0.5s ease;
    } 
    .quantity {
        border-top: none;
      }
    .size-lable {
        font-size: 14px;
        position: absolute;
         color:gray;
         padding-top:20px;
         line-height: 10px;  
      }
     .checkout-nav {
          margin-top: 50px;
      }
     .checkout-title {
          width:100%;
          text-align: center;
      }
     .checkout-desc {
          width:100%;
          text-align: center;
          color:gray;
          font-size: 14px;
      }
     .body-content-checkout {
          display:flex;
          flex-wrap: wrap;
          justify-content: center;
          margin-bottom: 10%;
      }
     .checkout-first-half {
          width:30%;
          margin-right: 40px;
      }
    .checkout-second-half {
          width:30%;
          margin-left: 40px;
      }
    .checkout-field {
         width:100%;   
      }
    .form {
          width: 100%;
          height:50px;
          margin:5px;
          position: relative;
          overflow: hidden;  
      }
    .form input {
          width:100%;
          position: absolute;
          border:none;
          font-size: 17px;
          padding-top: 15px;  
      }
    .form label {
          position: absolute;
          bottom: 1px;
          width:100%;
          pointer-events: none;
          border-bottom: 1px solid black;
      }
    .form label::after {
          content: "";
          position: absolute;
          width: 100%;
          border-bottom: 2px solid black;
          transform: translateX(-100%);
          transition: transform 0.3s ease;
      }
    .content-name {
          position: absolute;
          bottom:5px;
          left: 0px;
          color:gray;
          font-size: 17px;
          transition: all 0.3s ease;
      }
    .form input:focus + .lable-name .content-name,
      .form input:valid + .lable-name .content-name {
          transform: translateY(-150%);
          font-size: 14px;
      }

      .form input:focus + .lable-name::after,
      .form input:valid + .lable-name::after {
          transform: translateX(0%);
      }
     .check-text-field {
          width:100%;
          height:30px;
          font-size: 16px;
          border:none;
          border-bottom: 1px solid gray;
      }
      .country-dropdown {
          width:100%;
          height:40px;
          font-size: 17px;
          background-color: white;
          border:none;
          border-bottom: 1px solid gray;   
      }
      .country-dropdown:focus {
          border-bottom: 2px solid black;
          transition: transform 0.5s ease;
      } 
     .state-zip {
          width:100%;
          height:30px;
          font-size: 16px;
          border:none;
          border-bottom: 1px solid gray;
      }
    .pro-postal {
          display: flex;
          flex-wrap: wrap;
      }
    #state-pro-id {
          width:46%;
          margin:2%;
      }
    .ymc-oneline {
          display: flex;
          flex-wrap: wrap;
      }
    .year-month-cvv {
          width:30%;
          height:40px;
      }
    .cvv-no {
          margin-top:-10px;
          height:50px;   
      }

    .my-drop {
        margin-left: 8%;
      }
    .detail-info-all {
         width: 100%;
         font-size: 14px;
         display: flex;
         flex-wrap: wrap; 
      }
    .detail-info {
        width: 50%
    } 
    h5 {
        font-size: 14px;
    }
   .detail-info-p {
        width: 50%;
        text-align: right;
    }
    .body-content-cart {
        margin-bottom: 30%;
        margin-top: 4%;
    } 
    .cart-list {
        width:100%;
        height:80px;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
    }
   .cart-list .cart-img {
        width:70px;
        height: 70px;
     }
     .tshirts-label-cart {
        width:30%;
        font-size: 14px;
        padding:15px 0px 0px 15px;
     }
    .cart-list .qty-price {
        margin-top: 25px;
        width:12%;
        text-align: center;
        color:gray;
     }
   .total-checkout-cart {
        width:82.5%;
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-end; 
     }
    .total-checkout-cart .total-price {
        width:15%;
     }
    .total-checkout-cart .checkout-link { 
        width:130px;
        height: 20px;
        padding: 10px;
        text-decoration: none;
        color:black;
        border:2px solid black;
        text-align: center;  
     }
    .qty {
        margin-right: 5px;
        border:none;
        background-color: white;
        font-size: 16px;
     }
    input:focus,select:focus {
      outline: none;
    }  

@media only screen and (min-width:0px) and (max-width:770px){
    .header .head-mid {
       padding-left: 20px;
    }
    .nav-bar {
       display: none;
    }
    .img-home {
       height:240px;
    }
    .all-shirts {
       width:50%;
    }
    .img-product {
       width:90%;
       height:43vw;
    }
    .all-shirts img {
      margin-left: 10px;
    }
    .buy-img {
      width: 82%;
      height:80vw;
    }
   .buy-shirts-desc {
      width:100%;  
    }
    #footer-sm {
      display: none;
    }
    .body-content-desc {
      width:100%;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .head-mid strong {
       margin-left: 30px;
    }
   .add-cart {
       width:100%;
       padding: 20px 0px 15px 0px;
       position: fixed;
       border:none;
       bottom: -15px;
       left:0px;
       text-align: center;
       background-color: #1B1B51;
       color:white;
     }
    .body-content-checkout {
       margin-bottom: 25%;
    }
    .checkout-first-half {
       width:100%;
    }
   .checkout-second-half {
       width: 100%;
       margin-left: 0px;
    }
   #checkout-footer {
       width:100%;
       padding: 20px 0px 15px 0px;
       position: fixed;
       border:none;
       bottom: 0px;
       left:0px;
       text-align: center;
       background-color: #1B1B51;
       color:white;
    }
    .img-small {
       display: none;
    }
    .outer {
        width:100%;
    }
}